Repository klingo/my-nutrition-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": "eslint",
    "*.{js,jsx,ts,tsx,json,css,less}": "prettier --write"
}

feat(ui): refactor `ExpandableContainer` and enhance `Accordion` functionality
  client/src/common/components/Accordion/Accordion.js
  client/src/common/components/Accordion/Accordion.test.js
  client/src/common/components/ExpandableContainer/ExpandableContainer.js
  client/src/common/components/ExpandableContainer/ExpandableContainer.test.js
Due: eslint, prettier --write

fix(codecov): correct component_id for login feature paths
  codecov.yml
Due: none

chore(codecov): update and expand component mappings
  codecov.yml
Due: none

fix(vite): update reports directory path in coverage configuration
  client/vite.config.js
Due: eslint, prettier --write

fix(styles): enhance table styling and apply consistent spacing on "Add Product" page
  client/src/features/products/pages/ProductAddPage.js
  client/src/features/products/pages/ProductAddPage.module.css
Due: eslint, prettier --write

feat(input): add `suffix` and `inputmode` support for numeric inputs
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.module.css
Due: eslint, prettier --write

feat(products): update numeric input fields with `suffix` support and simplify table structure
  client/src/features/products/constants/productFormConfig.js
  client/src/features/products/pages/ProductAddPage.js
  client/src/features/products/pages/ProductAddPage.module.css
Due: eslint, prettier --write

chore(ci): improve Codecov token and bundle analysis support in workflows
  .github/workflows/ci.yml
  client/vite.config.js
Due: eslint, prettier --write

feat(router): enable lazy-loading for routes and add prefetching support
  client/package.json
  client/src/core/config/routes.js
  client/src/core/router/Router.js
  client/vite.config.js
  package-lock.json
Due: eslint, prettier --write

test(router): add comprehensive unit tests for `Router` component
  client/src/core/router/Router.test.js
Due: eslint, prettier --write

test(input): refactor and improve unit tests for `Input` component
  client/src/common/components/Input/Input.test.js
Due: eslint, prettier --write

chore(core): remove obsolete client-side utility methods
  client/src/core/obsolete.js
Due: eslint, prettier --write

test(app): add unit tests for `App` component
  client/src/core/App.test.js
Due: eslint, prettier --write

test(base-page): enhance unit test coverage for `BasePage` component
  client/src/core/base/BasePage/BasePage.test.js
Due: eslint, prettier --write

feat(input): restructure `Input` component for better validation and modularity
  client/src/common/components/Input/Input.js
Due: eslint, prettier --write

fix(accordion): set explicit button type to prevent unintended form submissions
  client/src/common/components/Accordion/Accordion.js
Due: eslint, prettier --write

feat(input): add width property support and corresponding unit tests
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.module.css
  client/src/common/components/Input/Input.test.js
Due: eslint, prettier --write

fix(navigation): adjust padding for navigation links for better spacing
  client/src/common/components/Navigation/Navigation.module.css
Due: prettier --write

feat(products): improve form configurability and layout styling
  client/src/features/products/constants/productFormConfig.js
  client/src/features/products/pages/ProductAddPage.js
  client/src/features/products/pages/ProductAddPage.module.css
Due: eslint, prettier --write

fix(products): refine table row padding and add conditional borders
  client/src/features/products/pages/ProductAddPage.module.css
Due: prettier --write

feat(styles): introduce CSS variables for layout, navigation, and spacing
  client/index.html
  client/src/common/components/ContentBlock/ContentBlock.module.css
  client/src/common/components/Navigation/Navigation.module.css
  client/src/core/base/BasePage/BasePage.module.css
  client/src/styles/globals.css
  client/src/styles/layout.css
Due: prettier --write

fix(styles): set `width: 100vw` for navigation to ensure full viewport width
  client/src/styles/globals.css
Due: prettier --write

fix(input): adjust suffix rendering to append to label instead of input
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.module.css
Due: eslint, prettier --write

feat(register): add numeric inputmode and suffix for height and weight inputs
  client/src/features/register/pages/RegisterPage.js
Due: eslint, prettier --write

fix(styles): improve responsiveness and spacing for form pages
  client/src/common/components/ContentBlock/ContentBlock.module.css
  client/src/features/login/pages/LoginPage.module.css
  client/src/features/register/pages/RegisterPage.module.css
Due: prettier --write

feat(expandable-container): add mutation observer and improve dynamic behavior
  client/src/common/components/ExpandableContainer/ExpandableContainer.js
  client/src/common/components/ExpandableContainer/ExpandableContainer.test.js
Due: eslint, prettier --write

chore(eslint): update `ecmaVersion` to `latest` for compatibility with latest ECMAScript standards
  eslint.config.js
Due: eslint, prettier --write

fix(styles): update content block spacing to use `:has()` for bottom margin adjustment
  client/src/common/components/ContentBlock/ContentBlock.module.css
Due: prettier --write

feat(profile): improve layout configurability and styling for profile page
  client/src/common/components/MasonryContainer/MasonryContainer.js
  client/src/features/profile/pages/ProfilePage.js
  client/src/features/profile/pages/ProfilePage.module.css
Due: eslint, prettier --write

fix(styles): use CSS variable for content block margin spacing
  client/src/common/components/ContentBlock/ContentBlock.module.css
  client/src/styles/layout.css
Due: prettier --write

fix(styles): comment out padding-right in helper-line class
  client/src/common/components/Input/Input.module.css
Due: prettier --write

fix(products): rename `sugars` to `sugar` for consistency across inputs and icons
  client/src/assets/icons/mnt/sugar.svg
  client/src/common/components/Input/Input.js
  client/src/features/products/constants/productFormConfig.js
  client/src/styles/icons.module.css
Due: eslint, prettier --write

feat(products): add net carbs calculation and improve form structure
  client/src/common/components/Input/Input.module.css
  client/src/features/products/constants/productFormConfig.js
  client/src/features/products/pages/ProductAddPage.js
  client/src/features/products/pages/ProductAddPage.module.css
  client/src/features/products/utils/calculateNetCarbs.js
Due: eslint, prettier --write

test(products): add unit tests for `calculateNetCarbs` utility
  client/src/features/products/utils/calculateNetCarbs.test.js
Due: eslint, prettier --write

feat(products): enhance product form and schema for advanced nutrient data
  client/src/features/products/constants/productFormConfig.js
  client/src/features/products/pages/ProductAddPage.js
  client/src/features/products/pages/ProductsPage.js
  server/src/controllers/productController.js
  server/src/models/schemas/Product.js
Due: eslint, prettier --write

feat(products): refactor schema, form, and API for enhanced nutrient handling
  client/src/assets/icons/mnt/sugars.svg
  client/src/common/components/Input/Input.js
  client/src/features/products/constants/productFormConfig.js
  client/src/features/products/pages/ProductAddPage.js
  client/src/features/products/pages/ProductsPage.js
  client/src/features/products/utils/transformProductFormData.js
  client/src/styles/icons.module.css
  server/src/controllers/productController.js
  server/src/models/schemas/Product.js
Due: eslint, prettier --write

feat(products): add virtual for net carbs and improve schema serialization
  server/src/controllers/productController.js
  server/src/models/schemas/Product.js
Due: eslint, prettier --write

refactor(products): simplify nutrient scaling logic in `packageNutrients` virtual
  server/src/models/schemas/Product.js
Due: eslint, prettier --write

feat(products): populate `creator` in product queries and improve schema serialization
  server/src/controllers/productController.js
  server/src/models/schemas/Product.js
Due: eslint, prettier --write

feat(products): add HAL links to product controller responses
  server/src/controllers/productController.js
Due: eslint, prettier --write
