Repository klingo/my-nutrition-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

configure codecov components
  codecov.yml
Due: none

Update navigation and routing logic for improved path handling
  client/src/components/Navigation/Navigation.js
  client/src/core/Router.js
  client/src/core/Spa.js
  client/src/pages/LoginPage/LoginPage.js
Due: eslint, prettier --write

Add SSL support for server and client configuration, and comment out unused core functions.
  .gitignore
  client/src/core/main.js
  client/vite.config.js
  server/src/app.js
  server/src/index.js
Due: eslint, prettier --write

fix server startup
  server/src/index.js
Due: eslint, prettier --write

properly fix server startup
  server/src/index.js
Due: eslint, prettier --write

Delay server startup until MongoDB connection is established
  server/src/app.js
  server/src/index.js
Due: eslint, prettier --write

Add base64 encoding/decoding for login credentials and utility class for encoding
  client/src/services/AuthService.js
  client/src/utils/EncodeUtil.js
  server/src/routes/auth.routes.js
Due: eslint, prettier --write

Make SSL configuration optional in Vite server setup by checking environment variables.
  client/vite.config.js
Due: eslint, prettier --write

Replace account icon with person icon in LoginPage input field
  client/src/assets/icons/social/person_24dp.svg
  client/src/components/Input/Input.js
  client/src/components/Input/Input.module.css
  client/src/pages/LoginPage/LoginPage.js
Due: eslint, prettier --write

Rename `TYPES` to `BUTTON_TYPES` and `ICONS` to `BUTTON_ICONS`, update LoginPage accordingly
  client/src/components/Button/Button.js
  client/src/pages/LoginPage/LoginPage.js
  client/src/pages/LoginPage/LoginPage.module.css
Due: eslint, prettier --write

Add border-radius to input container and update label styles
  client/src/components/Input/Input.module.css
Due: prettier --write

Fix inconsistent class names in Navigation and Input components
  client/src/components/Input/Input.js
  client/src/components/Input/Input.module.css
  client/src/components/Navigation/Navigation.module.css
Due: eslint, prettier --write

Center overlay content on LoginPage and align items vertically
  client/src/pages/LoginPage/LoginPage.module.css
Due: prettier --write

Update LoginPage UI: Remove negative message, add Remember Me checkbox, Forgot Password link, and Sign Up prompt
  client/src/assets/icons/actions/account_circle_64dp.svg
  client/src/pages/LoginPage/LoginPage.js
  client/src/pages/LoginPage/LoginPage.module.css
Due: eslint, prettier --write

Update LoginPage logo, add favicon, and configure manifest for web app
  client/public/favicon.ico
  client/public/vite.svg
  client/src/assets/icons/favicon/favicon-16x16.png
  client/src/assets/icons/favicon/favicon-32x32.png
  client/src/assets/icons/favicon/favicon-96x96.png
  client/src/assets/logo/android-chrome-192x192.png
  client/src/assets/logo/android-chrome-512x512.png
  client/src/assets/logo/apple-touch-icon.png
  client/src/index.html
  client/src/pages/LoginPage/LoginPage.js
  client/src/pages/LoginPage/LoginPage.module.css
  client/src/public/favicon.ico
  client/src/public/manifest.json
Due: eslint, prettier --write

remove obsolete file
  client/jsconfig.json
Due: prettier --write

Add logo to README.md
  README.md
Due: none

Update button import path and add click event test
  client/src/components/Button/Button.test.js
Due: eslint, prettier --write

Refactor BasePage tests and update import paths
  client/src/core/base/BasePage/BasePage.test.js
Due: eslint, prettier --write

Update codecov component definition
  codecov.yml
Due: none

Refactor Button component and add Input component tests
  client/src/common/components/Button/Button.js
  client/src/common/components/Button/Button.test.js
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.test.js
  client/src/features/login/pages/LoginPage.js
Due: eslint, prettier --write

Refactor codecov component definitions for better organization
  codecov.yml
Due: none

Update Input component to handle autocorrect and spellcheck as booleans in tests and implementation
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.test.js
  client/src/features/login/pages/LoginPage.js
Due: eslint, prettier --write

Add Loader component with size variations and refactor Button and Input components
  client/src/common/components/Button/Button.js
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.test.js
  client/src/common/components/Loader/Loader.js
  client/src/common/components/Loader/Loader.module.css
  client/src/common/components/Loader/Loader.test.js
  client/src/common/components/Loader/index.js
  client/src/common/components/index.js
  client/src/common/utils/setAttributes.js
  client/src/common/utils/setAttributes.test.js
  client/src/features/login/pages/LoginPage.js
Due: eslint, prettier --write

Simplify Button component by replacing children with text and adding utility methods
  client/src/common/components/Button/Button.js
  client/src/common/components/Button/Button.module.css
  client/src/common/components/Button/Button.test.js
  client/src/features/login/pages/LoginPage.js
  client/src/features/login/pages/LoginPage.module.css
Due: eslint, prettier --write

Add MessageBox component with success, info, warning, and error types
  client/src/assets/icons/ui-actions/check_24dp.svg
  client/src/assets/icons/ui-actions/check_circle_24dp.svg
  client/src/common/components/MessageBox/MessageBox.js
  client/src/common/components/MessageBox/MessageBox.module.css
  client/src/common/components/MessageBox/index.js
  client/src/common/components/index.js
  client/src/styles/colors.css
Due: eslint, prettier --write

Enhance auth validation logic and error handling in server and client
  client/src/common/components/Button/Button.js
  client/src/common/components/Button/Button.test.js
  client/src/common/components/MessageBox/MessageBox.js
  client/src/common/errors/ApiError/ApiError.js
  client/src/common/errors/ApiError/index.js
  client/src/common/services/AuthService.js
  client/src/common/utils/callApi.js
  client/src/core/base/BasePage/BasePage.test.js
  client/src/features/login/pages/LoginPage.js
  client/src/features/login/pages/LoginPage.module.css
  server/src/routes/auth.routes.js
Due: eslint, prettier --write

Improve Button disabled state styling and add loading functionality
  client/src/common/components/Button/Button.js
  client/src/common/components/Button/Button.module.css
  client/src/common/components/Button/Button.test.js
  client/src/features/login/pages/LoginPage.js
Due: eslint, prettier --write

Add private validation method to handle input type and icon checks
  client/src/common/components/Input/Input.js
Due: eslint, prettier --write

Add test suite for MessageBox component and refactor type validation
  client/src/common/components/MessageBox/MessageBox.js
  client/src/common/components/MessageBox/MessageBox.test.js
Due: eslint, prettier --write

Improve error handling in `callApi` and add comprehensive test coverage
  client/src/common/utils/EncodeUtil.js
  client/src/common/utils/EncodeUtil.test.js
  client/src/common/utils/callApi.js
  client/src/common/utils/callApi.test.js
Due: eslint, prettier --write

Switch to variable fonts for `Roboto` and `Roboto Condensed`, updating font imports and dependencies
  client/package.json
  client/src/assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf
  client/src/assets/fonts/Roboto-VariableFont_wdth,wght.ttf
  client/src/assets/fonts/RobotoCondensed-Italic-VariableFont_wght.ttf
  client/src/assets/fonts/RobotoCondensed-VariableFont_wght.ttf
  client/src/styles/fonts.css
  client/src/styles/typography.css
  package-lock.json
Due: prettier --write

Update README.md
  README.md
Due: none

Update password hashing to include pepper and allow login via email
  server/src/routes/auth.routes.js
Due: eslint, prettier --write

Update password hashing salt to use environment variable
  server/src/routes/auth.routes.js
Due: eslint, prettier --write

Add base64 decoding, email field, and improve user validation in auth routes
  client/src/styles/globals.css
  server/src/models/schemas/User.js
  server/src/routes/auth.routes.js
Due: eslint, prettier --write

Add CustomMeal schema with meal items, user reference, and nutrients calculation virtual
  server/src/models/schemas/CustomMeal.js
Due: eslint, prettier --write

Path conditions:
  eslint: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,less}
