Repository klingo/my-nutrition-tracker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write

apply consistent formatting across all files
  README.md
  eslint.config.js
  server/middleware/auth.js
  server/models/index.js
  server/models/log.js
  server/models/product.js
  server/models/user.js
  server/routes.js
  server/server.js
  src/css/style.css
  src/js/main.js
  vite.config.js
Due: eslint, prettier --write

add missing `globals` dependency
  package-lock.json
  package.json
Due: prettier --write

add initial database models, constants, and utility functions
  server/models/constants/enums.js
  server/models/constants/nutrition.js
  server/models/constants/units.js
  server/models/index.js
  server/models/schemas/Brand.js
  server/models/schemas/IntakeLog.js
  server/models/schemas/Product.js
  server/models/schemas/User.js
  server/models/schemas/UserGoal.js
  server/utils/energyConversions.js
  server/utils/heightConversions.js
  server/utils/weightConversions.js
Due: eslint, prettier --write

remove .env files from git tracking
  client/.env
  server/.env
Due: none

update .gitignore
  .gitignore
Due: none

update configuration files for formatting, linting, and development consistency
  .editorconfig
  .lintstagedrc.json
  .prettierrc.json
  client/package-lock.json
  client/vite.config.js
  eslint.config.js
  package.json
  server/package-lock.json
  server/package.json
  server/src/routes/log.routes.js
  server/src/utils/heightConversions.js
  server/src/utils/weightConversions.js
Due: eslint, prettier --write

add draft Button component and related styles, update global styles and fonts
  client/src/assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf
  client/src/assets/fonts/Roboto-VariableFont_wdth,wght.ttf
  client/src/components/ui/Button/Button.js
  client/src/components/ui/Button/Button.module.css
  client/src/components/ui/Button/index.js
  client/src/components/ui/index.js
  client/src/css/style.css
  client/src/index.html
  client/src/styles/colors.css
  client/src/styles/fonts.css
  client/src/styles/globals.css
  client/src/styles/layout.css
  client/src/styles/style.css
  client/src/styles/typography.css
Due: eslint, prettier --write

introduce authentication flow, implement SPA structure with login, navigation, and routing
  client/src/components/ui/Navigation/Navigation.js
  client/src/components/ui/Navigation/index.js
  client/src/components/ui/index.js
  client/src/core/Router.js
  client/src/core/Spa.js
  client/src/core/main.js
  client/src/index.html
  client/src/pages/BasePage.js
  client/src/pages/LoginPage.js
  client/src/pages/NotFoundPage.js
  client/src/pages/OverviewPage.js
  client/src/services/AuthService.js
  server/src/routes/auth.routes.js
Due: eslint, prettier --write

refactor navigation and SPA structure, add Products page, update styles and layout
  client/src/assets/icons/ui-actions/logout_24dp.svg
  client/src/components/Button/Button.js
  client/src/components/Button/Button.module.css
  client/src/components/Button/index.js
  client/src/components/Navigation/Navigation.js
  client/src/components/Navigation/Navigation.module.css
  client/src/components/Navigation/index.js
  client/src/components/index.js
  client/src/components/ui/Navigation/Navigation.js
  client/src/components/ui/index.js
  client/src/core/Router.js
  client/src/core/Spa.js
  client/src/index.html
  client/src/pages/LoginPage.js
  client/src/pages/ProductsPage.js
  client/src/styles/globals.css
  client/vite.config.js
Due: eslint, prettier --write

refactor login page structure, add modular CSS, and improve styling consistency
  client/src/core/Spa.js
  client/src/pages/BasePage.js
  client/src/pages/BasePage.module.css
  client/src/pages/LoginPage.js
  client/src/pages/LoginPage/LoginPage.js
  client/src/pages/LoginPage/LoginPage.module.css
  client/src/styles/typography.css
Due: eslint, prettier --write

introduce modular Input component and integrate it into LoginPage
  client/src/components/Input/Input.js
  client/src/components/Input/Input.module.css
  client/src/components/Input/index.js
  client/src/pages/LoginPage/LoginPage.js
Due: eslint, prettier --write

clean up unused CSS imports in Button component styles
  client/src/components/Button/Button.module.css
Due: prettier --write

add Roboto Condensed fonts and updated font-face declarations in styles
  client/src/assets/fonts/RobotoCondensed-Italic-VariableFont_wght.ttf
  client/src/assets/fonts/RobotoCondensed-VariableFont_wght.ttf
  client/src/styles/fonts.css
Due: prettier --write

Introduce base Component class with render, mount, and unmount methods
  client/src/components/Component/Component.js
  client/src/components/Component/index.js
Due: eslint, prettier --write

Update button and navigation styles, refactor button component to include icons and types validation
  client/src/components/Button/Button.js
  client/src/components/Button/Button.module.css
  client/src/components/Navigation/Navigation.js
  client/src/components/Navigation/Navigation.module.css
  client/src/pages/LoginPage/LoginPage.js
  client/src/pages/LoginPage/LoginPage.module.css
  client/src/styles/colors.css
  client/src/styles/globals.css
  client/src/styles/typography.css
Due: eslint, prettier --write

Add `jsdom` for testing, configure Vite test environment, and create initial component test
  client/__test__/setup.js
  client/package.json
  client/src/components/Component/Component.test.js
  client/vite.config.js
  package-lock.json
Due: eslint, prettier --write

Add test suite for Button component with various scenarios and validations
  client/src/components/Button/Button.test.js
Due: eslint, prettier --write

Refactor `Input` component, update icon handling, and adjust color variables
  client/src/components/Input/Input.js
  client/src/components/Input/Input.module.css
  client/src/pages/LoginPage/LoginPage.js
  client/src/pages/LoginPage/LoginPage.module.css
  client/src/styles/colors.css
  client/src/styles/globals.css
  client/src/styles/typography.css
Due: eslint, prettier --write

Update hover color for navigation links to primary color
  client/src/components/Navigation/Navigation.module.css
Due: prettier --write

attempt to add github actions ci/cd pipeline with vitest
  .github/workflows/ci.yml
  client/package.json
  client/vite.config.js
  package-lock.json
Due: eslint, prettier --write

update node version and run eslint only for /client (for now)
  .github/workflows/ci.yml
Due: none

run tests only for /client (for now)
  .github/workflows/ci.yml
Due: none

retain coverage report
  .github/workflows/ci.yml
  README.md
Due: none

install all dependencies
  .github/workflows/ci.yml
Due: none

update config
  .github/workflows/ci.yml
  client/vite.config.js
Due: eslint, prettier --write

fix test:coverage
  .gitignore
  client/vite.config.js
Due: eslint, prettier --write

fix eslint errors
  server/src/app.js
  server/src/models/schemas/User.js
Due: eslint, prettier --write

restructure ci/cd pipeline and configure codecov
  .github/workflows/ci.yml
  README.md
  client/package.json
  client/vite.config.js
  codecov.yml
  server/package.json
Due: eslint, prettier --write

restructure ci/cd pipeline and configure codecov
  .github/workflows/ci.yml
  client/package.json
  eslint.config.js
  server/package.json
Due: eslint, prettier --write

configure codecov/vite-plugin
  client/package.json
  client/vite.config.js
  package-lock.json
Due: eslint, prettier --write

update bundle name
  client/vite.config.js
Due: eslint, prettier --write

update codecovVitePlugin
  .github/workflows/ci.yml
  client/vite.config.js
Due: eslint, prettier --write

configure codecov test analytics
  .github/workflows/ci.yml
  .gitignore
  client/vite.config.js
Due: eslint, prettier --write

update README.md
  README.md
Due: none

Refactor BasePage import paths and add tests for BasePage methods
  client/src/pages/BasePage/BasePage.js
  client/src/pages/BasePage/BasePage.module.css
  client/src/pages/BasePage/BasePage.test.js
  client/src/pages/LoginPage/LoginPage.js
  client/src/pages/NotFoundPage.js
  client/src/pages/OverviewPage.js
  client/src/pages/ProductsPage.js
Due: eslint, prettier --write

Add render method error handling and enhance mount/unmount tests for Component
  client/src/components/Component/Component.test.js
Due: eslint, prettier --write

configure codecov components
  codecov.yml
Due: none

Path conditions:
  eslint: any of: *.js
  prettier --write: any of: *.{js,json,css}
