Repository klingo/my-nutrition-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, common, pages, core

codecov.yml:

coverage:
    status:
        project:
            default:
                target: auto
                threshold: 2%
                informational: true
        patch:
            default:
                target: auto
                threshold: 5%
                informational: true

comment:
    layout: 'header, diff, flags, components, footer'
    behavior: default
    require_changes: false

flags:
    frontend:
        paths:
            - client/
    backend:
        paths:
            - server/

component_management:
    default_rules:
        statuses:
            - type: project
              target: auto
              branches:
                  - '!main'
    individual_components:
        - component_id: module_common
          name: common
          paths:
              - client/src/common/**
        - component_id: module_features
          name: pages
          paths:
              - client/src/features/**
        - component_id: module_core
          name: core
          paths:
              - client/src/core/**
          statuses:
              - type: project
                target: auto
              - type: patch

docs(Link): add JSDoc comments for constructor and class description
  client/src/common/components/Link/Link.js
Due: frontend, common

feat(Fieldset): add customizable Fieldset component with icons, styling, and tests
  client/src/common/components/Fieldset/Fieldset.js
  client/src/common/components/Fieldset/Fieldset.module.css
  client/src/common/components/Fieldset/Fieldset.test.js
  client/src/common/components/Fieldset/index.js
  client/src/common/components/index.js
Due: frontend, common

feat(components): export reusable Link component in index file
  client/src/common/components/index.js
Due: frontend, common

feat(icons): add new social icon `wc_24dp` to assets
  client/src/assets/icons/social/wc_24dp.svg
Due: frontend

feat(user): remove `PREFER_NOT_TO_SAY` gender option and related references
  server/src/controllers/userController.js
  server/src/models/constants/enums.js
  server/src/models/schemas/User.js
Due: backend

feat(register): add registration flow with UI, backend integration, and routing adjustments
  client/src/common/components/Navigation/Navigation.js
  client/src/common/services/AuthService.js
  client/src/core/config/routes.js
  client/src/core/router/Router.js
  client/src/features/login/pages/LoginPage.js
  client/src/features/login/pages/LoginPage.module.css
  client/src/features/profile/pages/ProfilePage.js
  client/src/features/register/index.js
  client/src/features/register/pages/RegisterPage.js
  client/src/features/register/pages/RegisterPage.module.css
  server/src/controllers/authController.js
  server/src/controllers/userController.js
Due: frontend, backend, common, pages, core

Create dependabot.yml
  .github/dependabot.yml
Due: none

feat(csrf): implement CSRF protection with token validation and middleware
  client/src/common/utils/callApi.js
  server/src/app.js
  server/src/middleware/csrfProtection.js
  server/src/routes/index.js
Due: frontend, backend, common

test(callApi): add unit tests for CSRF token inclusion in API requests
  client/src/common/utils/callApi.test.js
Due: frontend, common

feat(csrf): implement CSRF protection with token validation and middleware (#9)
  client/src/common/utils/callApi.js
  client/src/common/utils/callApi.test.js
  server/src/app.js
  server/src/middleware/csrfProtection.js
  server/src/routes/index.js
Due: frontend, backend, common

refactor(dependencies): remove unused client dependencies and fix typo in server scripts
  client/package.json
  server/package.json
Due: frontend, backend

refactor(dependencies): clean up unused client dependencies and adjust server deps
  package-lock.json
Due: none

fix(auth): remove clear-text logging of sensitive information
  client/src/common/services/AuthService.js
Due: frontend, common

chore(ci): update workflow permissions for pull-request and checks actions
  .github/workflows/ci.yml
Due: none

chore(dependencies): remove client `package-lock.json` to manage installations centrally
  client/package-lock.json
  server/package-lock.json
Due: frontend, backend

fix(file-upload): validate file path to prevent directory traversal
  server/src/controllers/imageController.js
Due: backend

fix(product): correct update logic to ensure proper value assignment
  server/src/controllers/productController.js
Due: backend

fix(auth): handle duplicate username or email errors with proper 409 response
  server/src/controllers/authController.js
Due: backend

fix(register): handle potential null value for gender selection
  client/src/features/register/pages/RegisterPage.js
Due: frontend, pages

fix(auth): ensure proper response status for server errors in registration logic
  server/src/controllers/authController.js
Due: backend

fix(user-schema): set default value for gender to null
  server/src/models/schemas/User.js
Due: backend

feat(product-schema): redefine schema to include detailed nutrient fields, image storage, and nutrient-level ratings
  server/src/models/schemas/Product.js
Due: backend

feat(products): add "Add Product" page with form for adding detailed product information
  client/src/core/config/routes.js
  client/src/features/products/index.js
  client/src/features/products/pages/ProductAddPage.js
  client/src/features/products/pages/ProductsPage.js
Due: frontend, pages, core

fix(login): handle "Enter" key for form submission and validate inputs
  client/src/features/login/pages/LoginPage.js
Due: frontend, pages

feat(input-icons): enhance input fields with support for dynamic icons and nutrient representation
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.module.css
  client/src/features/products/pages/ProductAddPage.js
  client/src/styles/icons.module.css
Due: frontend, common, pages

fix(input-test): update tests to use `icons.module.css` for icon class validation
  client/src/common/components/Input/Input.test.js
Due: frontend, common

fix(styles): allow `ExpandableContainer` to display overflow when expanded
  client/src/common/components/ExpandableContainer/ExpandableContainer.module.css
Due: frontend, common

fix(products): improve form handling and validation on "Add Product" page
  client/src/features/products/pages/ProductAddPage.js
Due: frontend, pages

fix(README): correct table formatting and clarify descriptions
  README.md
Due: none

feat(MasonryContainer): add support for fixedWidth layout mode
  client/src/common/components/MasonryContainer/MasonryContainer.js
  client/src/common/components/MasonryContainer/MasonryContainer.test.js
Due: frontend, common

fix(input): adjust defaults and styling for improved consistency
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.module.css
Due: frontend, common

fix(register): rename email validation error message prop for clarity
  client/src/features/register/pages/RegisterPage.js
Due: frontend, pages

feat(products): enhance "Add Product" page with Masonry layout and refine nutrient form fields
  client/src/features/products/pages/ProductAddPage.js
Due: frontend, pages

fix(vite): configure host binding and enforce strict port usage
  client/vite.config.js
Due: frontend

feat(products): refactor "Add Product" page and improve nutrient form structure
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.module.css
  client/src/common/components/Input/Input.test.js
  client/src/features/products/constants/productFormConfig.js
  client/src/features/products/pages/ProductAddPage.js
  client/src/features/products/pages/ProductAddPage.module.css
Due: frontend, common, pages

feat(products): enhance "Add Product" page with modular form sections and improved validation
  client/src/common/components/ContentBlock/ContentBlock.module.css
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.module.css
  client/src/features/products/constants/productFormConfig.js
  client/src/features/products/pages/ProductAddPage.js
  client/src/features/products/pages/ProductAddPage.module.css
Due: frontend, common, pages

feat(ui): add `Accordion` component with expandable sections
  client/src/assets/icons/hardware/keyboard_arrow_down_24dp.svg
  client/src/assets/icons/hardware/keyboard_arrow_up_24dp.svg
  client/src/common/components/Accordion/Accordion.js
  client/src/common/components/Accordion/Accordion.module.css
  client/src/common/components/Accordion/index.js
  client/src/common/components/index.js
  client/src/styles/icons.module.css
Due: frontend, common

feat(products): refactor "Add Product" page with improved layout and accessibility
  client/src/assets/icons/ui-actions/subdirectory_arrow_right_24dp.svg
  client/src/features/products/constants/productFormConfig.js
  client/src/features/products/pages/ProductAddPage.js
  client/src/features/products/pages/ProductAddPage.module.css
  client/src/styles/icons.module.css
Due: frontend, pages

fix(styles): remove commented grid.css import from globals.css
  client/src/styles/globals.css
Due: frontend

fix(html): adjust viewport scale for improved responsiveness
  client/index.html
Due: frontend
