Repository klingo/my-nutrition-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, common, pages, core

disable not yet added import
  client/src/styles/globals.css
Due: frontend

Support authenticated API calls
  client/src/common/utils/callApi.js
  client/src/common/utils/callApi.test.js
Due: frontend, common

Fix typo in lint script and update package versions to use caret range
  client/package.json
Due: frontend

Correct method and URL parameter order in callApi function and usage
  client/src/common/services/AuthService.js
  client/src/common/utils/callApi.js
  client/src/common/utils/callApi.test.js
Due: frontend, common

Upgrade Vite to version 7.0.0
  client/package.json
Due: frontend

Upgrade Codecov action version and update test results upload step for frontend
  .github/workflows/ci.yml
Due: none

Update package versions and add missing dependencies
  package-lock.json
Due: none

Refactor Navigation component for improved icon handling and spacing adjustments
  client/src/common/components/Navigation/Navigation.js
  client/src/common/components/Navigation/Navigation.module.css
Due: frontend, common

Implement user management endpoints and enhance authentication middleware
  client/src/common/components/Navigation/Navigation.js
  client/src/common/components/Navigation/Navigation.module.css
  client/src/core/config/routes.js
  client/src/features/profile/index.js
  client/src/features/profile/pages/ProfilePage.js
  server/src/controllers/userController.js
  server/src/middleware/auth.js
  server/src/models/constants/accessLevels.js
  server/src/models/schemas/User.js
  server/src/routes/index.js
  server/src/routes/log.routes.js
  server/src/routes/product.routes.js
  server/src/routes/user.routes.js
Due: frontend, backend, common, pages, core

Enhance user data transformation and display access level and blocked status
  client/src/features/profile/pages/ProfilePage.js
  server/src/controllers/userController.js
Due: frontend, backend, pages

Update icon paths in manifest.json for consistency
  client/public/manifest.json
Due: frontend

Add BMI calculation and update calculations endpoint handling
  client/src/features/profile/pages/ProfilePage.js
  server/src/controllers/userController.js
  server/src/models/schemas/User.js
  server/src/routes/user.routes.js
Due: frontend, backend, pages

Add image handling routes, models, and controllers with Multer integration
  package-lock.json
  server/package.json
  server/src/controllers/imageController.js
  server/src/models/index.js
  server/src/models/schemas/Image.js
  server/src/routes/image.routes.js
  server/src/routes/index.js
Due: backend

Simplify Multer configuration by directly using `multer.memoryStorage()`
  server/src/routes/image.routes.js
Due: backend

Update dependency versions to use caret (^) for flexibility in patch updates
  package-lock.json
  package.json
  server/package.json
Due: backend

Bump dependency versions to latest patch releases
  client/package.json
  package-lock.json
  package.json
  server/package.json
Due: frontend, backend

Consolidate and update .editorconfig settings for consistency
  .editorconfig
Due: none

Add debug logging to AuthService methods
  client/src/common/services/AuthService.js
Due: frontend, common

Introduce grid system and enhance BasePage methods
  client/src/core/base/BasePage/BasePage.js
  client/src/core/base/BasePage/BasePage.module.css
  client/src/core/base/BasePage/BasePage.test.js
  client/src/features/login/pages/LoginPage.js
  client/src/features/login/pages/LoginPage.module.css
  client/src/styles/layout.css
Due: frontend, pages, core

Implement authentication cookie-based system and enhance token validation logic
  client/package.json
  client/src/common/components/Navigation/Navigation.js
  client/src/common/services/AuthService.js
  client/src/common/utils/callApi.js
  client/src/common/utils/callApi.test.js
  package-lock.json
  server/src/app.js
  server/src/controllers/userController.js
  server/src/middleware/auth.js
  server/src/routes/auth.routes.js
Due: frontend, backend, common

Implement refresh token management and enhance logout functionality
  server/src/models/index.js
  server/src/models/schemas/RefreshToken.js
  server/src/routes/auth.routes.js
Due: backend

Add rate limiting middleware to protect API endpoints
  package-lock.json
  server/package.json
  server/src/models/schemas/RefreshToken.js
  server/src/routes/auth.routes.js
  server/src/routes/image.routes.js
  server/src/routes/log.routes.js
  server/src/routes/product.routes.js
  server/src/routes/user.routes.js
Due: backend

Refactor cookie management and add rate limiters for API endpoints
  server/src/middleware/rateLimiters.js
  server/src/models/schemas/RefreshToken.js
  server/src/routes/auth.routes.js
Due: backend

Add comment and update EncodeUtil documentation
  client/src/common/services/AuthService.js
  client/src/common/utils/EncodeUtil.js
Due: frontend, common

Handle 429 status code and display appropriate error message on login attempts
  client/src/features/login/pages/LoginPage.js
Due: frontend, pages

Refactor `checkAuthStatus` to be private and add promise handling in `isAuthenticated`
  client/src/common/services/AuthService.js
Due: frontend, common

Refactor auth routes by moving token functions to `tokenService` and enhance refresh token handling
  server/src/middleware/auth.js
  server/src/routes/auth.routes.js
  server/src/services/tokenService.js
Due: backend

Rename `text` property to `message` in MessageBox component for consistency
  client/src/common/components/MessageBox/MessageBox.js
  client/src/common/components/MessageBox/MessageBox.test.js
  client/src/features/login/pages/LoginPage.js
Due: frontend, common, pages

Update status endpoint with new `statusLimiter` middleware
  server/src/middleware/rateLimiters.js
  server/src/routes/auth.routes.js
Due: backend

Ensure `ApiError` properly assigns the message property
  client/src/common/errors/ApiError/ApiError.js
Due: frontend, common

Fetch product data and add "Add Product" button in ProductsPage
  client/src/features/products/pages/ProductsPage.js
Due: frontend, pages

Add ContentBlock component with tests and styles
  client/src/common/components/ContentBlock/ContentBlock.js
  client/src/common/components/ContentBlock/ContentBlock.module.css
  client/src/common/components/ContentBlock/ContentBlock.test.js
  client/src/common/components/ContentBlock/index.js
  client/src/common/components/index.js
Due: frontend, common

Draft implementation of grid-based profile page
  client/src/features/profile/pages/ProfilePage.js
  client/src/features/profile/pages/ProfilePage.module.css
Due: frontend, pages

Redirect authenticated users away from /login page
  client/src/core/router/Router.js
Due: frontend, core

Add optional className prop to ContentBlock and box-sizing to styles
  client/src/common/components/ContentBlock/ContentBlock.js
  client/src/common/components/ContentBlock/ContentBlock.module.css
  package-lock.json
Due: frontend, common

Add MasonryContainer component with styles and functionality
  client/package.json
  client/src/common/components/MasonryContainer/MasonryContainer.js
  client/src/common/components/MasonryContainer/MasonryContainer.module.css
  client/src/common/components/MasonryContainer/index.js
  client/src/common/components/index.js
Due: frontend, common

Remove grid layout methods from BasePage component
  client/src/core/base/BasePage/BasePage.js
  client/src/core/base/BasePage/BasePage.module.css
Due: frontend, core

Simplify LoginPage rendering by removing unnecessary grid layout elements
  client/src/features/login/pages/LoginPage.js
Due: frontend, pages

Refactor ProfilePage to use MasonryContainer for dynamic layout
  client/src/features/profile/pages/ProfilePage.js
  client/src/features/profile/pages/ProfilePage.module.css
Due: frontend, pages

Remove deprecated grid layout methods from BasePage tests
  client/src/core/base/BasePage/BasePage.test.js
Due: frontend, core

Path conditions:
  frontend: any of: client/
  backend: any of: server/
  common: any of: client/src/common/**
  pages: any of: client/src/features/**
  core: any of: client/src/core/**
