Repository klingo/my-nutrition-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, Core Base, Core Config, Core Router, Common Components, Common Services, Common Utils, Features Common, Features Login, Features Products

test(products): add unit tests for `transformProductFormData` utility
  client/src/features/products/utils/transformProductFormData.test.js
Due: frontend, Features Products

refactor(auth): update access level constants and references for clarity
  server/src/controllers/productController.js
  server/src/controllers/userController.js
  server/src/models/constants/accessLevels.js
  server/src/routes/auth.routes.js
  server/src/routes/image.routes.js
  server/src/routes/log.routes.js
  server/src/routes/product.routes.js
  server/src/routes/user.routes.js
Due: backend

chore(deps): update eslint and related devDependencies
  client/package.json
  package-lock.json
  package.json
  server/package.json
Due: frontend, backend

Update dependabot.yml
  .github/dependabot.yml
Due: none

refactor(masonry): disable transition animations for improved performance
  client/src/common/components/MasonryContainer/MasonryContainer.js
Due: frontend

fix(user): add default `null` values for schema fields and resolve undefined mappings
  server/src/controllers/userController.js
  server/src/models/schemas/User.js
Due: backend

fix(fieldset): skip rendering legend when label is empty and add handling for empty values
  client/src/common/components/Fieldset/Fieldset.js
  client/src/common/components/Fieldset/Fieldset.module.css
  client/src/common/components/Fieldset/Fieldset.test.js
Due: frontend

fix(input): remove unnecessary `display: flex` from label input styling
  client/src/common/components/Input/Input.module.css
Due: frontend

feat(ui): add reusable `RadioButtons` component
  client/src/common/components/RadioButtons/RadioButtons.js
  client/src/common/components/RadioButtons/RadioButtons.module.css
  client/src/common/components/RadioButtons/RadioButtons.test.js
  client/src/common/components/RadioButtons/index.js
  client/src/common/components/index.js
  client/src/features/register/pages/RegisterPage.js
Due: frontend

feat(profile): enable profile editing with form inputs
  client/src/features/profile/pages/ProfilePage.js
  client/src/features/profile/pages/ProfilePage.module.css
Due: frontend

fix(input): correct import path for `iconStyles` in test file
  client/src/common/components/Input/Input.test.js
Due: frontend

Path conditions:
  frontend: any of: client/
  backend: any of: server/
  Core Base: any of: client/src/core/base/**
  Core Config: any of: client/src/core/config/**
  Core Router: any of: client/src/core/router/**
  Common Components: any of: client/src/common/components**
  Common Services: any of: client/src/common/services**
  Common Utils: any of: client/src/common/utils**
  Features Common: (any of: client/src/features/common/**) or (any of: client/src/features/login/**)
  Features Login: any of: client/src/features/overview/**
  Features Products: any of: client/src/features/products/**
