Repository klingo/my-nutrition-tracker: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend, common, pages, core

Update ProfilePage to display height and weight with units
  client/src/features/profile/pages/ProfilePage.js
Due: frontend, pages

Add MasonryContainer test suite and validate colSpan constraints
  client/src/common/components/MasonryContainer/MasonryContainer.js
  client/src/common/components/MasonryContainer/MasonryContainer.test.js
Due: frontend, common

Add tests for className in ContentBlock and ensure append calls render if needed
  client/src/common/components/ContentBlock/ContentBlock.test.js
Due: frontend, common

Extend Navigation class to inherit from BaseComponent and add method documentation
  client/src/common/components/Navigation/Navigation.js
Due: frontend, common

Handle page loading aborts and clean up previous pages in Router.js
  client/src/core/router/Router.js
Due: frontend, core

Add `signal` support in API calls and page constructors for request aborting and loading states management
  client/src/common/utils/callApi.js
  client/src/core/base/BasePage/BasePage.js
  client/src/core/router/Router.js
  client/src/features/common/pages/NotFoundPage.js
  client/src/features/login/pages/LoginPage.js
  client/src/features/overview/pages/OverviewPage.js
  client/src/features/products/pages/ProductsPage.js
  client/src/features/profile/pages/ProfilePage.js
Due: frontend, common, pages, core

Add unit tests for Navigation component functionality
  client/src/common/components/Navigation/Navigation.test.js
Due: frontend, common

Update dependencies: vite, eslint, @eslint/js, dotenv, mongoose
  client/package.json
  package-lock.json
  package.json
  server/package.json
Due: frontend, backend

Add `refreshLimiter` for refresh endpoint in auth routes
  server/src/middleware/rateLimiters.js
  server/src/routes/auth.routes.js
Due: backend

Implement family ID for refresh tokens and add suspicious activity detection
  server/src/models/schemas/RefreshToken.js
  server/src/services/tokenService.js
Due: backend

Add `logout-everywhere` endpoint and enhance error handling in logout routes
  server/src/models/schemas/RefreshToken.js
  server/src/routes/auth.routes.js
Due: backend

Add `centered` prop to Loader component and update tests
  client/src/common/components/Loader/Loader.js
  client/src/common/components/Loader/Loader.module.css
  client/src/common/components/Loader/Loader.test.js
  client/src/core/router/Router.js
Due: frontend, common, core

Add unit tests for AuthService and ensure `isAuthenticated` returns boolean value
  client/src/common/services/AuthService.js
  client/src/common/services/AuthService.test.js
Due: frontend, common

Calculate user age and display it on the profile page
  client/src/features/profile/pages/ProfilePage.js
  client/src/features/profile/pages/ProfilePage.module.css
  server/src/controllers/userController.js
Due: frontend, backend, pages

Update header font sizes and add headings to profile sections
  client/src/features/profile/pages/ProfilePage.js
  client/src/styles/typography.css
Due: frontend, pages

Restrict `/me` route access to authenticated users
  server/src/routes/user.routes.js
Due: backend

Refactor product routes to use controller functions and implement basic CRUD operations
  server/src/controllers/productController.js
  server/src/routes/product.routes.js
Due: backend

Refactor authentication routes to use controller functions and improve code organization
  server/src/controllers/authController.js
  server/src/routes/auth.routes.js
Due: backend

Refactor log routes to use controller functions and improve access control
  server/src/controllers/logController.js
  server/src/routes/log.routes.js
Due: backend

fix(auth.routes): remove unnecessary auth middleware from register and login handlers
  server/src/routes/auth.routes.js
Due: backend

refactor(): update state management, improve render logic, and fix callApi response handling
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.test.js
  client/src/common/services/AuthService.js
  client/src/common/services/AuthService.test.js
  client/src/common/utils/callApi.js
  client/src/common/utils/callApi.test.js
  client/src/core/base/BasePage/BasePage.js
  client/src/core/base/BasePage/BasePage.module.css
  client/src/core/base/BasePage/BasePage.test.js
  client/src/core/router/Router.js
  client/src/features/common/pages/NotFoundPage.js
  client/src/features/login/pages/LoginPage.js
  client/src/features/overview/pages/OverviewPage.js
  client/src/features/products/pages/ProductsPage.js
  client/src/features/profile/pages/ProfilePage.js
  client/src/styles/globals.css
  server/src/controllers/authController.js
  server/src/controllers/imageController.js
  server/src/controllers/logController.js
  server/src/controllers/productController.js
  server/src/controllers/userController.js
Due: frontend, backend, common, pages, core

feat(client): add tabulator-tables dependency
  client/package.json
  package-lock.json
Due: frontend

fix(Navigation.js): update active state logic for nested paths
  client/src/common/components/Navigation/Navigation.js
Due: frontend, common

feat(ExpandableContainer): add new component for expandable content with slide in/out functionality
  client/src/common/components/ExpandableContainer/ExpandableContainer.js
  client/src/common/components/ExpandableContainer/ExpandableContainer.module.css
  client/src/common/components/ExpandableContainer/ExpandableContainer.test.js
  client/src/common/components/ExpandableContainer/index.js
  client/src/common/components/index.js
Due: frontend, common

fix(setAttributes): update condition to check truthy values for attribute setting
  client/src/common/utils/setAttributes.js
Due: frontend, common

refactor(Product.js): reorder nutrients fields for consistency and clarity
  server/src/models/schemas/Product.js
Due: backend

fix(globals.css): add padding-bottom to main section for consistency
  client/src/styles/globals.css
Due: frontend

fix(colors.css): update error color value for consistency
  client/src/styles/colors.css
Due: frontend

fix(Navigation.js): ensure currentPath is truthy before checking active state
  client/src/common/components/Navigation/Navigation.js
Due: frontend, common

fix(Input.test.js): expect null when autofocus is not set
  client/src/common/components/Input/Input.test.js
Due: frontend, common

feat(icons): add custom nutrient icons
  client/src/assets/icons/mnt/barcode.svg
  client/src/assets/icons/mnt/calcium.svg
  client/src/assets/icons/mnt/calories.svg
  client/src/assets/icons/mnt/carbohydrates.svg
  client/src/assets/icons/mnt/fat.svg
  client/src/assets/icons/mnt/fiber.svg
  client/src/assets/icons/mnt/magnesium.svg
  client/src/assets/icons/mnt/monounsaturated-fat.svg
  client/src/assets/icons/mnt/package-size.svg
  client/src/assets/icons/mnt/package-size2.svg
  client/src/assets/icons/mnt/polyols.svg
  client/src/assets/icons/mnt/polyunsaturated-fat.svg
  client/src/assets/icons/mnt/potassium.svg
  client/src/assets/icons/mnt/protein.svg
  client/src/assets/icons/mnt/salt.svg
  client/src/assets/icons/mnt/saturated-fat.svg
  client/src/assets/icons/mnt/serving-size.svg
  client/src/assets/icons/mnt/sodium.svg
  client/src/assets/icons/mnt/sugars.svg
Due: frontend

fix(controllers): ensure salt rounds are parsed correctly for password hashing
  server/src/controllers/authController.js
  server/src/controllers/userController.js
Due: backend

feat(server): centralize configuration management and enhance token handling
  README.md
  server/src/app.js
  server/src/config/app.config.js
  server/src/controllers/authController.js
  server/src/controllers/userController.js
  server/src/index.js
  server/src/middleware/auth.js
  server/src/middleware/securityHeaders.js
  server/src/models/schemas/User.js
  server/src/services/tokenService.js
Due: backend

feat(Button): add support for configurable button types (button, submit, reset)
  client/src/common/components/Button/Button.js
  client/src/common/components/Button/Button.test.js
Due: frontend, common

feat(Input): enhance validation and error handling, add supportive features
  client/src/assets/icons/communicate/mail_24dp.svg
  client/src/assets/icons/social/weight_24dp.svg
  client/src/assets/icons/text/height_24dp.svg
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.module.css
  client/src/common/components/Input/Input.test.js
Due: frontend, common

feat(login): update username label to support email input
  client/src/features/login/pages/LoginPage.js
Due: frontend, pages

fix(auth): rename `lockUntil` to `lockedUntil`, improve account lock handling
  client/src/features/login/pages/LoginPage.js
  server/src/controllers/authController.js
  server/src/models/schemas/User.js
Due: frontend, backend, pages

fix(auth): handle 423 status for locked accounts, update login flow and schema fields
  client/src/common/services/AuthService.js
  client/src/features/login/pages/LoginPage.js
  server/src/controllers/authController.js
  server/src/models/schemas/User.js
Due: frontend, backend, common, pages

feat(Link): create reusable Link component with routing support and tests
  client/src/common/components/Link/Link.js
  client/src/common/components/Link/Link.module.css
  client/src/common/components/Link/Link.test.js
  client/src/common/components/Link/index.js
Due: frontend, common

feat(Input): add support for `date` type and birthday icon
  client/src/assets/icons/activities/cake_24dp.svg
  client/src/common/components/Input/Input.js
  client/src/common/components/Input/Input.module.css
Due: frontend, common

Path conditions:
  frontend: any of: client/
  backend: any of: server/
  common: any of: client/src/common/**
  pages: any of: client/src/features/**
  core: any of: client/src/core/**
